<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Display</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Data from Google Sheets</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Email Address</th>
                    <th>Email Type</th>
                    <th>First Name</th>
                    <th>Is Active</th>
                    <th>Last Name</th>
                </tr>
            </thead>
            <<tbody>
                {% for row in data %}
                    <tr>
                        <td>{{ row.email_address | default('N/A') }}</td>
                        <td>{{ row.email_type | default('N/A') }}</td>
                        <td>{{ row.first_name | default('N/A') }}</td>
                        <td>{{ row.is_active | default('N/A') }}</td>
                        <td>{{ row.last_name | default('N/A') }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">No data available.</td>
                    </tr>
                {% endfor %}
            </tbody>
            
        </table>
    </div>
</body>
</html>
