<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Integration Home Page</title>
    <!-- Bootstrap CSS for styling -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Integrate Google Sheets with Endgrate</h1>
        <p>Click the buttons below to start the integration process or view data.</p>
        <form action="/auth" method="GET" target="_blank">
            <button type="submit" class="btn btn-primary mb-3">Start Integration</button>
        </form>
        <!-- New button to view data -->
        <form action="/view-data" method="GET">
            <button type="submit" class="btn btn-secondary">View Data</button>
        </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.8/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
